.box{
background: white;
padding: 5px;
display: inline-block;
cursor: pointer;
}

.box:hover{
    background: grey;
}

.active-box{
    background: black;
    color: white;
}

hr{
    border: 3px solid rgb(131, 242, 252);
}

.card-img-top:hover {
    opacity: 0.7;
}
